# Ignore editor settings
.vscode/
.venv/
# Ignore Python cache
__pycache__/
*.pyc

# Ignore build artifacts (if any)
build/
dist/

# Ignore logs
*.log

# Ignore CSV changes
*.csv

# Ignore executables
*.out
